<h1>Kristopher's Produce Market</h1>
<nav>
    <ul>
        <li>
            <a href='/catalog'>Home</a>
        </li>
        <li>
            <a href='/catalog/produce'>Produce</a>
        </li>
        <li>
            <a href='/catalog/categories'>Categories</a>
        </li>
    </ul>
</nav>